/*------------------------------------*\
    #RESET
\*------------------------------------*/

* { box-sizing: border-box; }

html, body,
h1, h2, h3, h4, h5, h6,
ul, ol, li,
a, p
{ 
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
