//
// Attributes settings
//
// Define which data-[name] to use for our type of attributes
//


//
// Generic attributes
//

$rkMapAttributesNaming: (
  helper: 'hlp',
  object: 'obj',
  component: 'com',
  module: 'mod'
) !default;

$rk-attr--helper:     "hlp" !default;

$rk-attr--object:     "obj" !default;

$rk-attr--component:  "com" !default;

$rk-attr--module:     "mod" !default;



//
// Constructing the attributes names
//

$rk-attr-name__prefix:     "data" !default;

$rk-attr-name--separator:  "-";

$rk-attr-name--helper:     $rk-attr-name__prefix + $rk-attr-name--separator + $rk-attr--helper ;

$rk-attr-name--object:     $rk-attr-name__prefix + $rk-attr-name--separator + $rk-attr--object ;

$rk-attr-name--component:  $rk-attr-name__prefix + $rk-attr-name--separator + $rk-attr--component ;

$rk-attr-name--module:     $rk-attr-name__prefix + $rk-attr-name--separator + $rk-attr--module ;



//
// Possible values prefixes that suggests the data type
//

$rk-helper-text-prefix:       'text';
$rk-helper-typography-prefix: 'typo';

