//
// Typography settings
//

$rk-typo-size--base: 16px !default;

$rk-typo-size--h1: 2.5rem !default;
$rk-typo-size--h2:  2rem  !default;
$rk-typo-size--h3: 1.5rem !default;
$rk-typo-size--h4: 1.2rem !default;
$rk-typo-size--h5:  1rem  !default;
$rk-typo-size--h6:  .8rem !default;

$rk-typo-size--heading: 1.5rem;

$rk-typo-size--heading-large   :  $rk-typo-size--heading * 3 /  2;
$rk-typo-size--heading-large-x :  $rk-typo-size--heading * 2     ;
$rk-typo-size--heading-large-xx:  $rk-typo-size--heading * 3     ;
$rk-typo-size--heading-small   :  $rk-typo-size--heading * 9 / 12;
$rk-typo-size--heading-small-x :  $rk-typo-size--heading * 2 /  3;
$rk-typo-size--heading-small-xx:  $rk-typo-size--heading * 7 / 12;

$rk-typo-name: sans-serif;
