/**
 * Text helpers
 *
 *  1. Centering text
 *  2. Align text to left
 *  3. Align text to right
 *  4. Underline text
 *  5. Transform text to uppercase
 *  6. Transform text to lowercase
 *  7. Capitalize first letter of the text
 */

/* 1. Centering text */
#{'[' + $rk-attr-name--helper + '~="' + $rk-helper-text-prefix + '-center"]'}      { text-align: center !important; }

/*  2. Align text to left */
#{'[' + $rk-attr-name--helper + '~="' + $rk-helper-text-prefix + '-left"]'}        { text-align: left   !important; }

/*  3. Align text to right */
#{'[' + $rk-attr-name--helper + '~="' + $rk-helper-text-prefix + '-right"]'}       { text-align: right  !important; }

/*  4. Underline text */
#{'[' + $rk-attr-name--helper + '~="' + $rk-helper-text-prefix + '-underlined"]'}  { text-decoration: underlined !important; }

/*  5. Transform text to uppercase */
#{'[' + $rk-attr-name--helper + '~="' + $rk-helper-text-prefix + '-upper"]'}       { text-transform: uppercase !important; }

/*  6. Transform text to lowercase */
#{'[' + $rk-attr-name--helper + '~="' + $rk-helper-text-prefix + '-lower"]'}       { text-transform: lowercase !important; }

/*  7. Capitalize first letter of the text */
#{'[' + $rk-attr-name--helper + '~="' + $rk-helper-text-prefix + '-capital"]'}     { text-transform: capitalize !important; }

