/*------------------------------------*\
    #Media Object
\*------------------------------------*/

$rk-attr-name--media:           'media' !default;
$rk-attr-name--media-image:     'img'   !default;
$rk-attr-name--media-body:      'body'  !default;
$rk-attr-name--media-reversed:  'rev'   !default;

$rk-metrics--media-gutter: $rk-spacing--base;

//
// Define silent classes
//

%o-media{ 
  @extend %u-clearfix;
  display: block;
}

  %o-media__image {
    float: left;
    margin-right: $rk-metrics--media-gutter;
  }

  %o-media__body {
    overflow:hidden;
  }

/** 
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */

#{'[' + $rk-attr-name--object + '~="' + $rk-attr-name--media + '"]'} {
  @extend %o-media;  
}

  #{'[' + $rk-attr-name--object + '~="' + $rk-attr-name--media + '__' + $rk-attr-name--media-image + '"]'} { 
    @extend %o-media__image;
  }

  #{'[' + $rk-attr-name--object + '~="' + $rk-attr-name--media + '__' + $rk-attr-name--media-body + '"]'} { 
    @extend %o-media__body;
  }

