//
// Media mixins
//

//
// fnRuleMO
// Generate Media Object related rule
//
@function fnRuleMO($_inAttr, $_inIsElem: true) {

  $bem: fnBEM(media, $_inAttr, $_inIsElem);
  $response: fnAttributeRule(object, $bem);

  @return $response;
}



//
// mxMediaModifiers
// Generate media modifiers
//

@mixin mxMediaModifiers() {

  $rkMapMediaSpacing: fnModifiersMap(5px, 5px, false);

//  @debug $rkMapMediaSpacing;

  @each $key,$val in $rkMapMediaSpacing {
    /* Media object with #{$key} modifier */
    #{fnRuleMo(map-get($rkModifiersNaming, $key), false)} {

      > #{fnRuleMO(img)} { margin-right: $val; }

      &#{fnRuleMO(rev, false)} > #{fnRuleMO(img)} {
        margin-right: 0;
        margin-left: $val;
      }
    }
  }

}
