/**
 * Text utilities
 *
 */

.u-txt-center { text-align: center !important; }
.u-txt-left   { text-align: left   !important; }
.u-txt-right  { text-align: right  !important; }
.u-txt-underlined { text-decoration: underined !important; }
.u-txt-upper { text-transform: uppercase; }
.u-txt-lower { text-transform: lowercase; }
