//
// Responsive settings
//

$rkrMBreakpoints: (
  tiny:   320px,   // mobile portrait
  small:  480px,   // mobile landscape
  medium: 768px,   // iPad & tablet
  large:  930px,   // laptop
  huge:  1280px    // desktop
) !default;

$rkrMBreakpointsNames: (
  tiny:   xs,      // mobile portrait
  small:  sm,      // mobile landscape
  medium:   md,      // iPad & tablet
  large:  lg,      // laptop
  huge:   hg       // desktop
) !default;

// Flag that toggles responsive mode
$rkrBResponsive: true !default;

// Flag that indicates if we use mobile-first (true - default) or desktop-first (false)
$rkrBResponsiveMobileFirst: true !default;