//
// Responsive settings
//

$rkrRwdMBreakpoints: (
  tiny:      320px,   // mobile portrait
  small:     480px,   // mobile landscape
  medium:    768px,   // iPad & tablet
  large:     930px,   // laptop
  huge:     1280px    // desktop
) !default;

$rkrRwdMBreakpointsNames: (
  tiny:     xs,      // mobile portrait
  small:    sm,      // mobile landscape
  medium:   md,      // iPad & tablet
  large:    lg,      // laptop
  huge:     hg       // desktop
) !default;

$rkrMRwdZonesMobileFirst : (
  tiny:   (from: tiny,    to: small ),
  small:  (from: small,   to: medium),
  medium: (from: medium,  to: large ),
  large:  (from: large,   to: huge  ),
  huge:   (from: huge)
) !default;

$rkrMRwdZonesDesktopFirst : (
  tiny:                  (to: tiny  ),
  small:  (from: tiny,    to: small ),
  medium: (from: small,   to: medium),
  large:  (from: medium,  to: large ),
  huge:   (from: large,   to: huge  ),
) !default;

// Flag that toggles responsive mode
$rkrRwdIsActive: true !default;

// Flag that indicates if we use mobile-first (true - default) or desktop-first (false)
$rkrRwdIsMobileFirst: true !default;

