//
// Responsive Tools
//

//
// rkrMxResponsive
//
// Example:
// @include rkrMxResponsive ((from: small, to: large)) { body { color: red; } };
//
@mixin rkrMxResponsive ($_inMap) {

  $from: map-get($_inMap, from);
  $to: map-get($_inMap, to);

  $fromSize:  null;
  $toSize:     null;

  @if $from != null {

    @if map-has-key($rkrMBreakpoints, $from) {    

      $fromSize: map-get($rkrMBreakpoints, $from);

    } @else {

      @warn 'No breakpoint found from ' + $from;

    }
  }

  @if $to != null {

    @if map-has-key($rkrMBreakpoints, $from) {    

      $toSize: map-get($rkrMBreakpoints, $to);

    } @else {

      @warn 'No breakpoint found to ' + $to;

    }

  }

  $mqCondition: '(';

  @if $fromSize != null {
    
    $mqCondition: $mqCondition + 'min-width: ' + $fromSize;

    @if $toSize != null {

      $mqCondition: $mqCondition + ') and (max-width: ' + $toSize;

    }

  }

  $mqCondition: $mqCondition + ')';

  @debug $mqCondition;

  @media #{$mqCondition} {
    @content;
  }

}
