/*------------------------------------*\
	Theme overrides with high specificity
\*------------------------------------*/


[data-l-grid], 
[data-l-wrapper] { 
  -webkit-transition: all 1s ease-in-out 0s;
          transition: all 1s ease-in-out 0s;
}

/* Implement this in framework */

/*[data-o-inline~="di__link"] {
	color: inherit;
}*/

