/*------------------------------------*\
	Theme specific modules
		# Header
		# Navigation
		# Slider
		# Content
		# Tabs
\*------------------------------------*/

/**
 * #Header
 */
.page-header {
	height: 100%;
	text-align: center;
	position: relative;
}

@include rkrMxResponsive((from: large)) {
	.page-header {
		height: auto;
	}
}

.page-header__fixed {

	position: absolute;
	top: 0;
	background-color: $tCBgHeader;
	height: 80px;
}

.page-header__logo {
	margin: 1rem 0;
	width: 220px;
}

@include rkrMxResponsive((from: small, to: medium)) {
	.page-header__fixed {
		height: 100px;
	}
	.page-header__logo {
		width: 280px;
	}
}

@include rkrMxResponsive((from: medium, to: large)) {

	.page-header__fixed {

		position: fixed;
		height: 120px;

	}

	.page-header__logo {
		width: 320px;
	}

}

@include rkrMxResponsive((from: large)) {

	.page-header__fixed {

		position: fixed;
		height: 130px;

	}

	.page-header__logo {
		width: 360px;
	}

}


/**
 * #Navigation
 */
.page-nav {
	padding-top: 45px;
}

.page-nav__toggle {
	font-size: 1.2rem;
	color: $rkrCFgNavMenu;
	cursor: pointer;
}

	.page-nav__toggle:before {
		content: "\f0c9";
		font: normal normal normal 1.5rem FontAwesome;
		padding-right: .2rem;
		margin-top: -.2rem;
		display: inline-block;
		vertical-align: middle;
	}

.page-nav__checkbox { display: none; }	

@include rkrMxResponsive((from: small, to: medium)) {
	.page-nav {
		padding-top: 60px;
	}	
}

@include rkrMxResponsive((from: medium, to: large)) {
	.page-nav {
		padding-top: 87px;
	}

	.page-nav:before { display: none; }
}
@include rkrMxResponsive((from: large)) {
	.page-nav {
		padding-top: 90px;
	}	
}
.page-nav [data-o-inline~="di__item"] {
	padding: 0 .5rem;
	text-transform: uppercase;
	color: $tCFgNav;
}

.page-nav [data-o-inline~="di__item"]:hover {
	color: $tCFgNavHover;
}

.page-nav [data-o-inline~="di--is-selected"] {
	color: $tCFgNavActive;
}

.page-nav [data-o-inline~="di__item"]:first-child { padding-left: 0; }
.page-nav [data-o-inline~="di__item"]:last-child  { padding-right: 0; }

		.page-nav__list {}

@include rkrMxResponsive((to: medium)) {

	.page-nav__checkbox:checked + .page-nav__toggle { 
		color: $rkrModTabsCBgNav;
	}

	.page-nav__checkbox:checked ~ .page-nav__list { 
		display: block;
	}

	.page-nav__list { 
			display: none;
			position: absolute;
			top: 81px;
			left: 0;
			width: 100%;
			text-align: center;
			background-color: $tCBgHeader;
	}	

	.page-nav__list > [data-o-inline~="di__item"] {
			display: block;
			padding: 1rem;
	} 

}

@include rkrMxResponsive((from: small, to: medium)) {
	.page-nav__list { 
		top: 101px;
	}
}

@include rkrMxResponsive((from: medium, to: large)) {
	.page-nav [data-o-inline~="di__item"] {
		font-size: .8rem;
		padding: 0 .2rem;
	}
}

@include rkrMxResponsive((from: large, to: huge)) {
	.page-nav [data-o-inline~="di__item"] {
		font-size: .8rem;
		padding: 0 .5rem;
	}
}

@include rkrMxResponsive((from: huge)) {
	.page-nav [data-o-inline~="di__item"] {
		font-size: 1rem;
		padding: 0 .5rem;
	}
}





/**
 * #Slider
 */

.page-slider { height: 100%; }

@include rkrMxResponsive((from: large)) {
	.page-slider { height: 600px; }	
}



/**
 * #Content
 */
.page-content { 
	background-color: #fff; 
	padding: 1rem 0;
}


/**
 * #Tabs
 */
.listings-tab [data-m-tabs~="di__list"] {
	padding-top: .25rem;	
}

.listings-tab [data-m-tabs~="di__item"] > label {
	padding: .25rem 1rem;
	cursor: pointer;
}

.listings-tab__content {
	padding: 1rem 0;
	background-color: $tCBgBase;
}

.listings__item {
	padding: 1.5rem;
}

.listings__media {
	background-color: $tCBgBoxLight;	
	box-shadow: 0 0 3px 3px #ddd;
}