//
// Inline Object configuration
//

// Band namespace
$rkrInlineNs: $rkrNamespace !default;

$rkrInlineAttrType:          object 	  !default;
$rkrInlineAttrName:        	inline 		!default;
$rkrInlineAttrNameParent:		list			!default;
$rkrInlineAttrNameSplitter:	splitter	!default;

// Register attribute type for 'inline'
$rkrMAttributesNaming: rkrFnRegisterAttribute(inline, $rkrInlineAttrType, $rkrInlineAttrName);

// vertical align of text inside items
// Possible values:
//		* top
//		* middle (default)
//		* bottom
$rkrInlineAlign: middle !default; 

$rkrInlineSplitter: '\2022' !default; 
