//
// Inline Object configuration
//

// Band namespace
$rkrNsInline: $rkrNamespace !default;

$rkrAttrTypeInline:          object 	  !default;
$rkrAttrNameInline:        	inline 		!default;
$rkrAttrNameInlineParent:		list			!default;
$rkrAttrNameInlineSplitter:	splitter	!default;

// Register attribute type for 'inline'
$rkrMapAttributesNaming: fnRegisterAttribute(inline, $rkrAttrTypeInline, $rkrAttrNameInline);

// vertical align of text inside items
// Possible values:
//		* top
//		* middle (default)
//		* bottom
$rkrInlineAlign: middle !default; 

$rkrInlineSplitter: '•' !default; 
