/*------------------------------------*\
    #Inline Object
\*------------------------------------*/

/** 
 * An object that can sit next to another one of this type
 */

/**
 * Inline object parent 
 */
%oInlineParent { 
  margin: 0;
  padding: 0;
  list-style: none;
}

  /**
   * Inline object item
   */
	%oInlineItem { 
		display: inline-block;
		vertical-align: $rkrInlineAlign;
	}

  /**
   * Inline object item
   */
  %oInlineItemLink { 
    text-decoration: none;
    color: inherit;
  }

/**
 * Inline object modifier to align text inisde item to top
 */
%oInlineTop {
	%oInlineItem { vertical-align: top; }
}

/**
 * Inline object modifier to align text inisde item to bottom
 */
%oInlineBottom {
	%oInlineItem { vertical-align: bottom; }
}

/**
 * Inline object modifier to use characters to split more items
 */
%oInlineWithSplitter {
	%oInlineItem:before {
		content: '#{$rkrInlineSplitter}';
    margin: 0 5px;
	}
  %oInlineItem:first-child:before {
    content: '';
  }  
}




#{rkrFnInlineRule(parent) } { @extend %oInlineParent;    }
#{rkrFnInlineRule(item)   } { @extend %oInlineItem; 	   }
#{rkrFnInlineRule(link)   } { @extend %oInlineItemLink;  }

#{rkrFnInlineRule(top 					, false)} { @extend %oInlineTop; 					}
#{rkrFnInlineRule(bottom 		  	, false)} { @extend %oInlineBottom; 			}
#{rkrFnInlineRule(with-splitter , false)} { @extend %oInlineWithSplitter; }
