//
// Inline functions
//

//
// rkrFnInlineRule
// Generate Inline Object related rule
//
@function rkrFnInlineRule($_inAttr, $_inIsElem: true) {

  $prefix: '--';
  @if $_inIsElem {
    $prefix: '__';
  }

  $param: $rkrInlineNs + $prefix + $_inAttr;
  $response: rkrFnAttributeRule(inline, $param);

  @return $response;

}