//
// Main Menu Module
//

@import "main-menu.conf.rkr";
@import "main-menu.tools.rkr";



/**
/* Main Menu
/**/
#{rkrMainMenuRule($rkrMainMenuTokenLink)} {
	color: map-get($rkrTheme, mainMenuText);
}



@include rkrMqDown(sm) {
  #{rkrMainMenuRule($rkrMainMenuTokenNav)} {
    background-color: rgba(50,50,50, .9);
    padding: 2rem 0;
    text-align: center;
  }

  #{rkrMainMenuRule($rkrMainMenuTokenList)} {
    position: absolute;
    top: 50%;
    width: 100%;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  #{rkrMainMenuRule($rkrMainMenuTokenItem)} {
    display: block;
    font-size: 1.5rem;
    margin: 0 0 1rem;
    padding: 0;
  }

  #{rkrMainMenuRule($rkrMainMenuTokenSandwich)} {
    position: relative;
    z-index: 10;
    color: map-get($rkrTheme, mainMenuText);
    cursor: pointer;
  }

  #{rkrMainMenuRule($rkrMainMenuTokenSwitch)} {

    &:checked + #{rkrMainMenuRule($rkrMainMenuTokenContainer)} #{rkrMainMenuRule($rkrMainMenuTokenSandwich)} {
      position: absolute;
      z-index: 10;
      top:     1rem;
      right:   1rem;

      .iSandwich-sm {

        &:before ,
        &:after {
          top:  0;
          left: 0;
        }

        &:before {
          border-bottom: none;
          transform: rotate(45deg);
          margin-left: -15%;
        }

        &:after {
          transform: rotate(-45deg);
          margin-top:   0;
          margin-left: 15%;
        }
      }
    }

    &:checked + #{rkrMainMenuRule($rkrMainMenuTokenContainer)} #{rkrMainMenuRule($rkrMainMenuTokenNav)} {
      display: block;
      display: auto;
    }
  }
}
