/**
/* Main Menu
/*/

$rkrMainMenuEntity: 					module   !default;
$rkrMainMenuToken: 						mainMenu !default;
$rkrMainMenuTokenList:        list     !default;
$rkrMainMenuTokenItem: 				item     !default;
$rkrMainMenuTokenLink: 				link     !default;
$rkrMainMenuTokenSwitch:      switch   !default;
$rkrMainMenuTokenSandwich:    sandwich !default;



$bemMenuList: (
  block: $rkrMainMenuToken,
  element: $rkrMainMenuTokenList
);

$bemMenuItem: (
	block: $rkrMainMenuToken,
	element: $rkrMainMenuTokenItem
);

$bemMenuLink: (
	block: $rkrMainMenuToken,
	element: $rkrMainMenuTokenLink
);

$bemMenuSwitch: (
    block: $rkrMainMenuToken,
    element: $rkrMainMenuTokenSwitch
);

$bemMenuSandwich: (
    block: $rkrMainMenuToken,
    element: $rkrMainMenuTokenSandwich
);


$ruleMain:   rkrRule($rkrMainMenuEntity, $rkrMainMenuToken) ;
$ruleSwitch: rkrRuleBEM($rkrMainMenuEntity, $bemMenuSwitch) ;
$ruleList:   rkrRuleBEM($rkrMainMenuEntity, $bemMenuList)   ;



	#{rkrRuleBEM($rkrMainMenuEntity, $bemMenuLink)} {
		color: map-get($rkrTheme, mainMenuText);
	}

@include rkrMqDown(sm) {
  #{$ruleSwitch} {
    color: red;
    &:checked + #{$ruleMain} #{$ruleList} { display: block; }
  }
}
