/*------------------------------------*\
    #Media Object
\*------------------------------------*/

/** 
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */


//
// Define silent classes
//

/**
 * Media object block definition
 */
%oMedia { 
  @extend %u-clearfix;
  display: block;
}

  /**
   * The image element - aligned to the left
   */
  %oMedia_image {
    float: left;
    margin-right: $rkMetrics-mediaGutter;
  }

  /**
   * The body element
   */
  %oMedia_body {
    overflow:hidden;
  }


/**
 * The reversed modifier - align the image to the right
 */
%oMedia-rev {
  %oMedia_image {
    float: right;
    margin-right: 0;
    margin-left: $rkMetrics-mediaGutter;
  }
}

/**
 * The sticked modifier - makes the image to be sticked to the body with no space between them
 */
%oMedia-sticked {
  %oMedia_image {
    margin-right: 0;
    margin-left: 0;
  }
}



#{fnAttributeRule('object', $rkAttrName-media)} {
  @extend %oMedia;  
}

  #{fnRuleMO($rkAttrName-mediaImage)} {
    @extend %oMedia_image;
  }

  #{fnRuleMO($rkAttrName-mediaBody)} {
    @extend %oMedia_body;
  }

@if $rkMedia-useReversed {
  #{fnRuleMO($rkAttrName-mediaReversed, false)} {
    @extend %oMedia-rev;  
  }  
}

@if $rkMedia-useSticked {
  #{fnRuleMO($rkAttrName-mediaSticked, false)} {
    @extend %oMedia-sticked;  
  }  
}


@if $rkMedia-useModifiers {
  @include mxMediaModifiers();
}

