//
// Media mixins
//

//
// fnRuleMO
// Generate Media Object related rule
//
@function fnRuleMO($_inAttr, $_inIsElem: true) {

  $bem: fnBEM($rkAttrName-media, $_inAttr, $_inIsElem);
  $response: fnAttributeRule(object, $bem);

  @return $response;
}



//
// mxMediaModifiers
// Generate media modifiers
//

@mixin mxMediaModifiers() {

  $rkMapMediaSpacing: fnModifiersMap(5px, 5px, false);

//  @debug $rkMapMediaSpacing;

  @each $key,$val in $rkMapMediaSpacing {
    /* Media object with #{$key} modifier */
    #{fnAttributeRule(object, fnBEM(media, map-get($rkModifiersNaming, $key), false))} {

      > #{fnAttributeRule(object, fnBEM(media, img, true))}
      { margin-right: $val; }

      &#{fnAttributeRule(object, fnBEM(media, rev, false))} > #{fnRuleMO(img)} {
        margin-right: 0;
        margin-left: $val;
      }
    }
  }

}
