//
// Wrapper Layout configuration
//

// Band namespace
$rkrGridNs: $rkrNamespace !default;

$rkrGridAttrType: layout  !default;
$rkrGridAttrName: grid !default;

$rkrMAttributesNaming: rkrFnRegisterAttribute(grid, $rkrGridAttrType, $rkrGridAttrName);

$rkrGridVGutter: 20px;

