//
// Wrapper Layout configuration
//

// Band namespace
$rkrNsGrid: $rkrNamespace !default;

$rkrAttrTypeGrid: layout  !default;
$rkrAttrNameGrid: grid !default;

$rkrMapAttributesNaming: fnRegisterAttribute(grid, $rkrAttrTypeGrid, $rkrAttrNameGrid);

$rkrGridGutter: 20px;

