/*------------------------------------*\
    #Grid Layout
\*------------------------------------*/

/**
 * Grid's container
 */
%lGridRow {
  list-style: none;
  margin:  0; 
  padding: 0;
}

/**
 * Grid's column
 */
%lGridColumn {
  display: inline-block;
  vertical-align: top;
  padding-left: $rkrGridVGutter / 2;
  padding-right: $rkrGridVGutter / 2;
}

/**
 * Grid based on float
 */
%lGridFloat {

  > %lGridColumn {
    float: left;
  }

}



#{rkrFnGridRule(row)} {
  @extend %lGridRow;
}

#{rkrFnGridRule(float, false)} {
  @extend %lGridFloat;
}

#{rkrFnGridRule(column)} {
  @extend %lGridColumn
}



