//
// Grid Layout
//

/**
 * Grid's container
 */
%lGridContainer {
  list-style: none;
  margin:  0; 
  padding: 0;
}

/**
 * Grid's item
 *
 */
%lGridItem {
  display: inline-block;
  vertical-align: top;
  padding-left: $rkGrid-gutter / 2;
  padding-right: $rkGrid-gutter / 2;
}



#{fnRuleGrid(container)} {
	@extend %lGridContainer;
}

#{fnRuleGrid(item)} {
	@extend %lGridItem;
}



