//
// Grid Layout Tools
//


//
// rkrFnRuleGrid
// Generate Media Object related rule
//
@function rkrFnGridRule($_inAttr, $_inIsElem: true) {

  @return rkrFnEntityRule(grid, $rkrGridNs, $_inAttr, $_inIsElem);

}



//
// rkrMxGridModifiers
// Generate grid modifiers
//

@mixin rkrMxGridModifiers() {

  $mGridSpacing: fnModifiersMap(5px, 10px, false);

  @each $key,$gutter in $mGridSpacing {

    /* Grid Layout with '#{$key}' modifier */
    #{rkrFnGridRule(map-get($rkrMModifiersNaming, $key), false)} {
      
      padding-left:  $gutter;
      padding-right: $gutter;

      #{rkrFnGridRule(row)} {
        margin-left:  -$gutter;
        margin-right: -$gutter;
      }
    }
  }
}
