/**
 * Text helpers
 *
 *  1. Centering text
 *  2. Align text to left
 *  3. Align text to right
 *  4. Underline text
 *  5. Transform text to uppercase
 *  6. Transform text to lowercase
 *  7. Capitalize first letter of the text
 */



/* 1. Centering text */
#{fnAttributeRule(text, -center)}      { text-align: center !important; }

/*  2. Align text to left */
#{fnAttributeRule(text, -left)}        { text-align: left   !important; }

/*  3. Align text to right */
#{fnAttributeRule(text, -right)}       { text-align: right  !important; }

/*  4. Underline text */
#{fnAttributeRule(text, -underlined)}  { text-decoration: underlined !important; }

/*  5. Transform text to uppercase */
#{fnAttributeRule(text, -upper)}       { text-transform: uppercase !important; }

/*  6. Transform text to lowercase */
#{fnAttributeRule(text, -lower)}       { text-transform: lowercase !important; }

/*  7. Capitalize first letter of the text */
#{fnAttributeRule(text, -capital)}     { text-transform: capitalize !important; }

