//
// Theme specific settings
//

//
// Typography
//

$rkrUseWebFonts:              true;
$rkrTypoWebFontBase:          'Roboto';
$rkrHeadingsWebFont:          'Open Sans Condensed';


//
// Define colors
//

$white:                       #fff;

$blackAplpha5:                rgba(0,0,0,.5);
$whiteAplpha5:                rgba(255,255,255,.5);

$customPalette: 							(
        baseText:             #555,
        baseBackground:       #f5f5f5,
        wrapperBg:            $white,
        headingText:          #333,
        mainMenuText: 	      #444,
        mainMenuHover: 	      #000,
        footerText:           $whiteAplpha5,
        footerBg:             $blackAplpha5,
        footerCopyrightText:  #666
        );

/*$rkrBodyBgImage: "../images/bg_pattern.png";*/

/*

$rkrModNavCFgMain: 			#aaa;
$rkrModNavCFgMainHover: $dxrCGreen;

*/