//
// Spacing configuration
//

$rkrHasSpacing:               true      !default;
$rkrSpacingEntity:            utility   !default;



//
// Tokens
//
$rkrSpacingTokenBase:         spacing   !default;
$rkrSpacingTokenMargin:       mg    !default;
$rkrSpacingTokenPadding:      pd      !default;
$rkrSpacingTokenAuto:         auto      !default;
$rkrSpacingTokenNone:         none      !default;


$rkrMarginSides:              (
                horizontal:   h,
                vertical:     v
                );


//
// Define if we should use responsive inline objects
//
$rkrAlignIsResponsive:        $rkrIsResponsive !default;
