//
// Typography settigns
//

$rkrHasTypography:            true !default;

$rkrTypoBaseFontSize:         $rkrBaseFontSize !default;
$rkrTypoBaseLineHeight:       $rkrBaseLineHeight !default;

$rkrTypoBaseColor:            map-get($rkrTheme, baseText);
