//
// Wrapper Layout configuration
//

// Wrapper's namespace 
$rkrWrapperNs: $rkrNamespace !default;

$rkrWrapperAttrType: layout  !default;
$rkrWrapperAttrName: wrapper !default;

$rkrMAttributesNaming: rkrFnRegisterAttribute(wrapper, $rkrWrapperAttrType, $rkrWrapperAttrName);

$rkrWrapperVMaxWidth: 1100px;
$rkrWrapperVGutter:   $rkrVSpacingBase !default;
