//
// Wrapper Layout configuration
//

// Wrapper's namespace 
$rkrNsWrapper: $rkrNamespace !default;

$rkrAttrTypeWrapper: layout  !default;
$rkrAttrNameWrapper: wrapper !default;

$rkrMapAttributesNaming: fnRegisterAttribute(wrapper, $rkrAttrTypeWrapper, $rkrAttrNameWrapper);

$rkrWrapper-maxWidth: 1100px;
$rkrWrapper-gutter:   $rkSpacing-base !default;
