/*------------------------------------*\
    #Wrapper Layout
\*------------------------------------*/

/**
 * Wrapper's container
 * [1] Maximum width of the container
 * [2] Centering the conainer
 * [3] Padding to left and right
 */
%lWrapperContainer {
	max-width: $rkrWrapperVMaxWidth; // [1]

	margin-left:   auto; // [2]
  margin-right:  auto; // [2]

  padding-left:  $rkrWrapperVGutter; // [3]
	padding-right: $rkrWrapperVGutter; // [3]
}

/**
 * Wrapper's row
 * Canceling container's padding value
 */
%lWrapperRow {
	margin-left:  -$rkrWrapperVGutter;
	margin-right: -$rkrWrapperVGutter;
}



#{rkrFnWrapperRule(container)} {
	@extend %lWrapperContainer;
}

#{rkrFnWrapperRule(row)} {
	@extend %lWrapperRow;
}



@include rkrMxWrapperModifiers();