/*------------------------------------*\
    #Wrapper Layout
\*------------------------------------*/

/**
 * Wrapper's container
 * [1] Maximum width of the container
 * [2] Centering the conainer
 * [3] Padding to left and right
 */
%lWrapperContainer {
	max-width: $rkWrapper-maxWidth; /* [1] */

	margin-left:   auto; /* [2] */
  margin-right:  auto; /* [2] */

  padding-left:  $rkWrapper-gutter; /* [3] */
	padding-right: $rkWrapper-gutter; /* [3] */
}

/**
 * Wrapper's row
 * Canceling container's padding value
 */
%lWrapperRow {
	margin-left:  -$rkWrapper-gutter;
	margin-right: -$rkWrapper-gutter;
}



#{fnRuleWrapper(container)} {
	@extend %lWrapperContainer;
}

#{fnRuleWrapper(row)} {
	@extend %lWrapperRow;
}



@include mxWrapperModifiers();