//
// Wrapper Layout Tools
//

//
// fnRuleWrapper
// Generate Media Object related rule
//
@function fnRuleWrapper($_inAttr, $_inIsElem: true) {

  $attr: wrapper;
  $response: fnAttributeRule($attr, null);

  @if $_inAttr != null {
    $prefix: '-';
    @if $_inIsElem {
      $prefix: '_';
    }

    $param: $rkrNsWrapper + $prefix + $_inAttr;
    $response: fnAttributeRule($attr, $param);

  }

  @return $response;

}



//
// mxWrapperModifiers
// Generate wrapper modifiers
//

@mixin mxWrapperModifiers() {

  $rkrWrapperSpacing: fnModifiersMap(5px, 10px, false);

  @each $key,$gutter in $rkrWrapperSpacing {

    /* Wrapper Layout with '#{$key}' modifier */
    #{fnRuleWrapper(map-get($rkrModifiersNaming, $key), false)} {
      
      padding-left:  $gutter;
      padding-right: $gutter;

      #{fnRuleWrapper(row)} {
        margin-left:  -$gutter;
        margin-right: -$gutter;
      }

    }

  }

}
