//
// Media Object configuration
//

// Media namespace
$rkrNsMedia: $rkrNamespace !default;

$rkrAttrTypeMedia:          object !default;

// Configure media object naming - abbreviations used
$rkrAttrNameMedia:          'media' !default;
$rkrAttrNameMediaBase:      'base'  !default;
$rkrAttrNameMediaImage:     'img'   !default;
$rkrAttrNameMediaBody:      'body'  !default;
$rkrAttrNameMediaBlock:     'block' !default;
$rkrAttrNameMediaReversed:  'rev'   !default;
$rkrAttrNameMediaSticked:   'stkd'  !default;
$rkrAttrNameMediaInline:    'inline'!default;

// Register attribute type for media
$rkrMapAttributesNaming: fnRegisterAttribute(media, $rkrAttrTypeMedia, $rkrAttrNameMedia);

// The gutter used near the image
$rkrMetricsMediaGutter: $rkrSpacingBase !default;

// Media Object's  flags

// Use media--block to display the image on top of the text
$rkrMediaUseBlock 	 : true !default;

// Use media--rev to reverse the position of the image
$rkrMediaUseReversed : true !default;

// Use media--stck to stick the image to text
$rkrMediaUseSticked  : true !default;

// Use modifiers to change the space between image and text
$rkrMediaUseModifiers: true !default;

// Use media--inline to display image and body inline
$rkrMediaUseInline: true !default;

// Vertical align of inline image and body
$rkrMediaInlineAlign: middle;
