/*------------------------------------*\
    #Media Object
\*------------------------------------*/

/** 
 * Place any image and a text-like content side-by-side, or one above the other as per:
 * stubbornella.org/content/2010/06/25/theMedia-object-saves-hundreds-of-lines-of-code
 */


//
// Define silent classes
//

/**
 * Media object block definition
 */
%oMedia { 
  @extend %u-clearfix;
  display: block;
}

  /**
   * The image element - aligned to the left
   */
  %oMedia_image {
    float: left;
    margin-right: $rkrMetricsMediaGutter;
  }

  /**
   * The body element
   */
  %oMedia_body {
    overflow: hidden;
  }


/**
 * The reversed modifier - align the image to the right
 */
%oMedia-rev {
  %oMedia_image {
    float: right;
    margin-right: 0;
    margin-left: $rkrMetricsMediaGutter;
  }
}

/**
 * The sticked modifier - makes the image to be sticked to the body with no space between them
 */
%oMedia-sticked {
  %oMedia_image {
    margin-right: 0;
    margin-left: 0;
  }
}

/**
 * Media Block
 * The image sets on top of the text
 */

%oMedia-block {

  %oMedia_image {
    float: none;
    margin-right: 0;
    margin-bottom: $rkrMetricsMediaGutter; 
  }

}

#{fnRuleMO($rkrAttrNameMediaBase, false)} {
  @extend %oMedia;  
}

  #{fnRuleMO($rkrAttrNameMediaImage)} {
    @extend %oMedia_image;
  }

  #{fnRuleMO($rkrAttrNameMediaBody)} {
    @extend %oMedia_body;
  }

@if $rkrMedia-useReversed {
  #{fnRuleMO($rkrAttrNameMediaReversed, false)} {
    @extend %oMedia-rev;  
  }  
}

@if $rkrMediaUseSticked {
  #{fnRuleMO($rkrAttrNameMediaSticked, false)} {
    @extend %oMediaSticked;  
  }  
}

@if $rkrMediaUseModifiers {
  @include mxMediaModifiers();
}



@if $rkrMediaUseBlock {
  #{fnRuleMO($rkrAttrNameMediaBlock, false)} {
    @extend %oMedia-block;  
  }  
}



@if $rkrMediaUseInline {
  #{fnRuleMO($rkrAttrNameMediaInline, false)} {
    #{fnRuleMO($rkrAttrNameMediaImage)},
    #{fnRuleMO($rkrAttrNameMediaBody)}
     {
      float: none;
      display: inline-block;
      vertical-align: $rkrMediaInlineAlign;
    }
  }  
}
