/*------------------------------------*\
    #Media Object
\*------------------------------------*/

/** 
 * Place any image and a text-like content in different positions: 
 * side-by-side, or one above the other, or one overlapping the other
 */


//
// Define silent classes
//

/**
 * Media object block definition
 */
%oMedia { 
  @extend %uClearfix;
  display: block;
}

  /**
   * The image element - aligned to the left
   */
  %oMedia_image {
    float: left;
    margin-right: $rkrMediaVGutter;
  }

  /**
   * The body element
   */
  %oMedia_body {
    overflow: hidden;
  }


/**
 * The reversed modifier - align the image to the right
 */
%oMedia-rev {
  %oMedia_image {
    float: right;
    margin-right: 0;
    margin-left: $rkrMediaVGutter;
  }
}

/**
 * The sticked modifier - makes the image to be sticked to the body with no space between them
 */
%oMedia-sticked {
  %oMedia_image {
    margin-right: 0;
    margin-left: 0;
  }
}

/**
 * Media Block
 * The image sets on top of the text
 */

%oMedia-block {

  %oMedia_image {
    float: none;
    margin-right: 0;
    margin-bottom: $rkrMediaVGutter; 
  }

  &%oMedia-sticked %oMedia_image { margin: 0; }

}



//
// Define rules 
//

#{rkrFnMediaRule($rkrMediaAttrNameBase, false)} {
  
  @extend %oMedia;  

  #{rkrFnMediaRule($rkrMediaAttrNameImage)} {
    @extend %oMedia_image;
  }

  #{rkrFnMediaRule($rkrMediaAttrNameBody)} {
    @extend %oMedia_body;
  }

  @if $rkrMediaBUseReversed {
    #{rkrFnMediaRule($rkrMediaAttrNameReversed, false)} {
      @extend %oMedia-rev;  
    }  
  }

  @if $rkrMediaBUseSticked {
    #{rkrFnMediaRule($rkrMediaAttrNameSticked, false)} {
      @extend %oMedia-sticked;  
    }  
  }

  @if $rkrMediaBUseModifiers {
    @include rkrMxMediaModifiers();
  }  

}



@if $rkrMediaBUseBlock {
  
  #{rkrFnMediaRule($rkrMediaAttrNameBlock, false)} {
  
    @extend %oMedia-block;  
  
  }  

}


/**
 * Media object positioned inline
 */
@if $rkrMediaBUseInline {
  
  #{rkrFnMediaRule($rkrMediaAttrNameInline, false)} {
  
    #{rkrFnMediaRule($rkrMediaAttrNameImage)},
    #{rkrFnMediaRule($rkrMediaAttrNameBody)}
     {
      float: none;
      display: inline-block;
      vertical-align: $rkrMediaVInlineAlign;
    }

  }  

}



/**
 * Media object having the body overlapping the image
 */
@if $rkrMediaBUseAbsolute {
  
  #{rkrFnMediaRule($rkrMediaAttrNameAbsolute, false)} {
    
    position: relative;

    #{rkrFnMediaRule($rkrMediaAttrNameImage)} {

    }

    #{rkrFnMediaRule($rkrMediaAttrNameBody)}
    {
      display: block;
      position: absolute;
      z-index: 1;
    }

  } 

  #{rkrFnMediaRule('top-left', false)} {

    #{rkrFnMediaRule($rkrMediaAttrNameBody)}
    {
      top: 0;
      left: 0;
    }    

  }   

  #{rkrFnMediaRule('top-right', false)} {

    #{rkrFnMediaRule($rkrMediaAttrNameBody)}
    {
      top: 0;
      right: 0;
    }    

  }   

  #{rkrFnMediaRule('bottom-right', false)} {

    #{rkrFnMediaRule($rkrMediaAttrNameBody)}
    {
      bottom: 0;
      right: 0;
    }    

  }   

  #{rkrFnMediaRule('bottom-left', false)} {

    #{rkrFnMediaRule($rkrMediaAttrNameBody)}
    {
      bottom: 0;
      left: 0;
    }    

  }   

}
