//
// Inline object configuration
//

$rkrHasInline:                true      !default;
$rkrInlineEntity:             object    !default;
$rkrInlineBaseToken:          inline    !default;
$rkrInlineModifierMiddle:     mid       !default;
$rkrInlineModifierBottom:     bot       !default;


//
// Define if we should use responsive inline objects
//
$rkrInlineIsResponsive:       $rkrIsResponsive !default;
