//
// Inline object configuration
//

$rkrHasInline:             true      !default;
$rkrInlineEntity:          object    !default;
$rkrInlineListToken:       inline    !default;
$rkrInlineItemToken:       item      !default;
