//
// Basic typography tags
//

html { font-size: $rkrTypoSzBase; }

@if $rkrBUseResponsive {
  /* html responsive mixin */
}

%h1 { font-size: $rkrTypoSzH1; }
%h2 { font-size: $rkrTypoSzH2; }
%h3 { font-size: $rkrTypoSzH3; }
%h4 { font-size: $rkrTypoSzH4; }
%h5 { font-size: $rkrTypoSzH5; }
%h6 { font-size: $rkrTypoSzH6; }

h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
h5 { @extend %h5; }
h6 { @extend %h6; }