//
// Typography settings
//

// Typography namespace
$rkrTypoNs: $rkrNamespace !default;

$rkTypoAttrType: utility  !default;
$rkTypoAttrName: typo     !default;

$rkrMAttributesNaming: rkrFnRegisterAttribute(typo, $rkTypoAttrType, $rkTypoAttrName);

$rkTypoSzBase: 16px !default;

$rkTypoSzH1: 2.5rem !default;
$rkTypoSzH2: 2  rem !default;
$rkTypoSzH3: 1.5rem !default;
$rkTypoSzH4: 1.2rem !default;
$rkTypoSzH5: 1  rem !default;
$rkTypoSzH6:  .8rem !default;


$rkTypoSzHeading: 1.5rem; // base

$rkTypoSzHeadings: (
  tiny:  14px,
  small: 18px,
  base:  24px,
  large: 32px,
  huge:  40px
);

$rkTypoSzHeadingLarge   :  $rkTypoSzHeading * 3 /  2;
$rkTypoSzHeadingLargeX  :  $rkTypoSzHeading * 2     ;
$rkTypoSzHeadingLargeXX :  $rkTypoSzHeading * 3     ;
$rkTypoSzHeadingSmall   :  $rkTypoSzHeading * 9 / 12;
$rkTypoSzHeadingSmallX  :  $rkTypoSzHeading * 2 /  3;
$rkTypoSzHeadingSmallXX :  $rkTypoSzHeading * 7 / 12;

$rkrTypoFont: sans-serif;

