//
// Typography settings
//

// Typography namespace
$rkrTypoNs: $rkrNamespace !default;

$rkTypoAttrType: utility  !default;
$rkTypoAttrName: typo     !default;

$rkrMAttributesNaming: rkrFnRegisterAttribute(typo, $rkTypoAttrType, $rkTypoAttrName);

// typography specific flag to toggle responsive mode
$rkrTypoBResponsive: $rkrRwdBActive !default;

// map that contains font sizes to use for each responsive state
$rkrTypoMSzBase: rkrFnMModifiers(12px, 2px, false) !default;

// base page font size
$rkrTypoSzBase: map-get($rkrTypoMSzBase, medium) !default;

@if $rkrTypoBResponsive {

  @if $rkrRwdBMobileFirst {
    $rkrTypoSzBase: map-get($rkrTypoMSzBase, tiny);
  } @else {
    $rkrTypoSzBase: map-get($rkrTypoMSzBase, huge);
  }
  
}

$rkrTypoLineHeight: 1.5 !default;

$rkrTypoSzH1: 2.5rem !default;
$rkrTypoSzH2: 2rem   !default;
$rkrTypoSzH3: 1.5rem !default;
$rkrTypoSzH4: 1.2rem !default;
$rkrTypoSzH5: 1rem   !default;
$rkrTypoSzH6:  .8rem !default;


$rkrTypoSzHeading: 1.5rem; // base

$rkrTypoSzHeadings: (
  tiny:  14px,
  small: 18px,
  base:  24px,
  large: 32px,
  huge:  40px
);

$rkrTypoSzHeadingLarge   :  $rkrTypoSzHeading * 3 /  2;
$rkrTypoSzHeadingLargeX  :  $rkrTypoSzHeading * 2     ;
$rkrTypoSzHeadingLargeXX :  $rkrTypoSzHeading * 3     ;
$rkrTypoSzHeadingSmall   :  $rkrTypoSzHeading * 9 / 12;
$rkrTypoSzHeadingSmallX  :  $rkrTypoSzHeading * 2 /  3;
$rkrTypoSzHeadingSmallXX :  $rkrTypoSzHeading * 7 / 12;

$rkrTypoFont: sans-serif;

