//
// Typography settings
//

// Typography namespace
$rkrNsTypo: $rkrNamespace !default;


$rkrAttrName-typography: 'typo' !default;

$rkrTypoSize-base: 16px !default;

$rkrTypoSize-h1: 2.5rem !default;
$rkrTypoSize-h2: 2  rem !default;
$rkrTypoSize-h3: 1.5rem !default;
$rkrTypoSize-h4: 1.2rem !default;
$rkrTypoSize-h5: 1  rem !default;
$rkrTypoSize-h6:  .8rem !default;



$rkrTypoSize-heading: 1.5rem; // base

$rkrTypoSizeHeadings: (
  tiny:  14px,
  small: 18px,
  base:  24px,
  large: 32px,
  huge:  40px
);

$rkrTypoSize-headingLarge   :  $rkrTypoSize-heading * 3 /  2;
$rkrTypoSize-headingLargeX  :  $rkrTypoSize-heading * 2     ;
$rkrTypoSize-headingLargeXX :  $rkrTypoSize-heading * 3     ;
$rkrTypoSize-headingSmall   :  $rkrTypoSize-heading * 9 / 12;
$rkrTypoSize-headingSmallX  :  $rkrTypoSize-heading * 2 /  3;
$rkrTypoSize-headingSmallXX :  $rkrTypoSize-heading * 7 / 12;

$rkrTypoFont: sans-serif;

