/**
 * Typography helpers
 *
 * 10. Heading
 * 20. Lead
 *
 */

/* 
 * 10. Heading 
 */

#{'[' + $rk-attr-name--helper + '~="' + $rk-helper-typography-prefix + '-heading"]'} { 
  font-size: $rkTypoSize--heading;
  margin-bottom: $rkSpacing-base;
}

/* Larger headings */
#{'[' + $rk-attr-name--helper + '~="' + $rk-helper-typography-prefix + '-heading--large"]'} { 
  font-size: $rkTypoSize--heading-large;
}
#{'[' + $rk-attr-name--helper + '~="' + $rk-helper-typography-prefix + '-heading--large+"]'} { 
  font-size: $rkTypoSize--heading-large-x;
}
#{'[' + $rk-attr-name--helper + '~="' + $rk-helper-typography-prefix + '-heading--large++"]'} { 
  font-size: $rkTypoSize--heading-large-xx;
}

/* Smaller headings */
#{'[' + $rk-attr-name--helper + '~="' + $rk-helper-typography-prefix + '-heading--small"]'} { 
  font-size: $rkTypoSize--heading-small;
}
#{'[' + $rk-attr-name--helper + '~="' + $rk-helper-typography-prefix + '-heading--small-"]'} { 
  font-size: $rkTypoSize--heading-small-x;
}
#{'[' + $rk-attr-name--helper + '~="' + $rk-helper-typography-prefix + '-heading--small--"]'} { 
  font-size: $rkTypoSize--heading-small-xx;
}


