//
// Typography tools
//

//
// fnRuleTypo
// Generate typography related rule
//
@function fnRuleTypo($_inAttr, $_inIsElem: true) {

  $bem: fnBEM($rkrAttrName-typography, $_inAttr, $_inIsElem);
  $response: fnAttributeRule(helper, $bem);

  @return $response;
}


//
// mxTypoModifiers
// Generate typography modifiers
//
@mixin mxTypoModifiers() {

  $rkrMapTypoSpacing: fnModifiersMap(14px, 4px, false);

  @each $key,$val in $rkrMapTypoSpacing {
    /* Media object with #{$key} modifier */
    #{fnRuleTypo(map-get($rkrModifiersNaming, $key), false)} {
			font-size: $val;    
    }
  }

}
