//
// Attributes settings
//
// Define which data-[name] to use for our type of attributes
//

// HTML atribute prefix 
$rkrAttributesHandler: 'data' !default;

$rkrAttributesPrefix: $rkrAttributesHandler + '-';


//
// Generic attributes
//

$rkrMAttributesNaming: (
  helper: 'hlp',
  object: 'obj',
  component: 'com',
  module: 'mod',
  utility: 'utl'
) !default;

$rkrMAttrTypePrefixes: (
	layout:			'l',
	object: 		'o',
	component: 	'c',
	module: 		'm',
	utility: 		'u'
); 

