//
// Globally used settings
//

// Basic framework namespace
$rkrNamespace: 'rkr' !default;

// Define modifiers tha we generally apply to components
// to change it's specific value
$rkrLBasicModifiers: 'tiny', 'small', 'base', 'large', 'huge' !default;

// naming convention for modifiers
$rkrMModifiersNaming: (
  #{nth($rkrLBasicModifiers, 1)}: 'xs', // tiny  
  #{nth($rkrLBasicModifiers, 2)}: 'sm', // small 
  #{nth($rkrLBasicModifiers, 3)}: 'md', // base
  #{nth($rkrLBasicModifiers, 4)}: 'lg', // large 
  #{nth($rkrLBasicModifiers, 5)}: 'hg'  // huge  
) !default;

// The smallest spacing value for the first modifier
$rkrVSpacingStart: 5px;

// The step to increase to the next modifier
$rkrVSpacingStep: 5px;

$rkrMSpacing: fnModifiersMap($rkrVSpacingStart, $rkrVSpacingStep, true);

$rkrVSpacingBase: map-get($rkrMapSpacing, 'base');