//
// Attributes settings
//
// Define which data-[name] to use for our type of attributes
//


//
// Generic attributes
//

$rkrMapAttributesNaming: (
  helper: 'hlp',
  object: 'obj',
  component: 'com',
  module: 'mod'
) !default;

$rkrAttrTypePrefixes: (
	layout:			'l',
	object: 		'o',
	component: 	'c',
	module: 		'm',
	utility: 		'u'
); 

