//
// Metrics functions
//

@function fnModifiersMap($_inStart, $_inStep, $_inProgressiveIncrement: false) {

  $mapResponse: ();
  
  $lastVal: $_inStart;

  @each $item in $rkrBasicModifiers {
    $index: index($rkrBasicModifiers, $item) - 1;

    $val: $lastVal + $index * $_inStep;

    @if $_inProgressiveIncrement {
      $lastVal: $val;
    }
    
    $mapResponse: map-merge($mapResponse, ($item: $val));
  }

  @return $mapResponse;
}