/*------------------------------------*\
    #Navigation Module
\*------------------------------------*/

/**
 *
  <nav data-m-nav="rkr--main" >

 		<ul data-m-nav="rkr__list">
			<li data-m-nav="rkr__item is-selected">
				<a href="#" data-m-nav="rkr__link">{Label}</a>
			</li>
 		</ul>

  </nav>

 *
 */

/**
 * Main navigation 
 */
 @include rkrMxModNavRule(main, false) {
	
	color:red;



	@include rkrMxModNavRule(list) {
		@extend %oInlineParent;
	}

	@include rkrMxModNavRule(item) {
		@extend %oInlineItem;
	}

	#{rkrFnModNavRule(link)} {
		color: $rkrModNavCFgMain;
		font-size: 20px;
		text-align: center;

		&:hover {
			color: $rkrModNavCFgMainHover;
		}
	}

}