//
// Grid settings ???
//

$rkrHasGrid:                  false    !default;
$rkrGridEntity:               layout  !default;
$rkrGridToken:                grid    !default;
$rkrGridItemToken:            item    !default;
