//
// Sidebar settings
//



//
// Colors
//
$rkrBgColorSidebar:							#3C4E62;
$rkrBgColorSidebarHover:				#2D3E50;
$rkrFgColorSidebar:							#bbbbbb;
$rkrFgColorSidebarTitle:				#2D3E50;
$rkrFgColorSidebarHover:				#ffffff;
$rkrFgColorSidebarInactive:			rgba(255,255,255, .5);
$rkrFgColorBranding:						#ffffff;