/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/

/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 */

%uClearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }

}

#{rkrFnAttributeRule(utility, 'clearfix')} {
  @extend %uClearfix;
}
