//
// Theme specific settings
//

// current theme's namespace: no namespace used
$rkrNamespace: '';

// what types of grids are we using
$rkrSizesLGroups: 1, 2, 3, 4, 6, 8, 12;

//
// Typography
//

$rkrTypoMSzBase: (
	tiny: 	14px,
	small: 	14px,
	medium: 14px,
	large: 	16px,
	huge: 	18px
);



//
// Define colors
//


$tCBgBase: 			#424F5F ;
$tCFgBase: 			#eee ;

$tCBgHeader:		rgba(255, 255, 255, .5);

$rkrModNavCFgMain: 			#1C89C4;
$rkrModNavCFgMainHover: #E67817;