//
// Theme specific settings
//

// current theme's namespace: no namespace used
$rkrNamespace: '';

// what types of grids are we using
$rkrSizesLGroups: 1, 2, 3, 4, 6, 8, 12;

//
// Typography
//

$rkrTypoMSzBase: (
	tiny: 	14px,
	small: 	14px,
	medium: 14px,
	large: 	16px,
	huge: 	16px
);



//
// Define colors
//

$onikCOrange: #E67817;
$onikCBlue: 	#1C89C4;

$onikCBgNav:  		rgba(55,55,55,.3);
$onikCBgNavHover: rgba(0,0,0,.3);
$onikCLnNav:  		#444;


$tCBgBase: 			#222 ;
$tCFgBase: 			#eee ;

$tCBgHeader:		rgba(255, 255, 255, .5);

$rkrModNavCFgMain: 			#f5f5f5;
$rkrModNavCFgMainHover: $onikCOrange;

