/*------------------------------------*\
	Theme specific modules

	#Page Header
	#Main Navigation
	#Page Content

\*------------------------------------*/

[data-l-wrapper~="container"] {
	padding: 0 1rem;
}

.page-header {}

	.page-header__background {
		position: fixed;
		z-index: 10;
		/*height: 50px;*/
		top:0;
		left:0;
		right:0;
		background-color: #333; /*$tCBgBase;*/
		box-shadow: 0 0px 15px 5px rgba(0,0,0,.5);
		-webkit-backface-visibility: hidden;
	}

/*	@include rkrMxResponsive((from: small))  { .page-header__background { height: 60px; } }
	@include rkrMxResponsive((from: medium)) { .page-header__background { height: 70px; } }
*/
	.page-header__logo { 
		margin: 1rem 0;
		display: block;
		width: 100px;
	}

	.page-header__logo > img { 
		display: block;
		height: 50px; 
	}

@include rkrMxResponsive((from: medium)) {
	.page-header__logo { width: 140px; }
	.page-header__logo > img { height: 70px; }
}


/*	@include rkrMxResponsive((to: medium)) {
		.page-header [data-o-media~="img"] { float: none; }
		.page-header [data-o-media~="base"] { text-align: center;	}		
	}
*/

/**
 * #Main Navigation
 */

.nav-main {
	text-align: right;	
	vertical-align: middle;
	height: 70px;
}

	.nav-main__label {
		line-height: 50px;
	}

		.nav-main--about:before 		{ content: '\f06e'; }
		.nav-main--services:before 	{ content: '\f085'; }
		.nav-main--equipment:before { content: '\f0d1'; }
		.nav-main--portfolio:before	{ content: '\f0f7'; }
		.nav-main--contact:before 	{ content: '\f003'; }



/**
 * #Page content
 */
.page-content {
/*	padding-top: 78px;
	padding-top: 52px;
*/}



/**
 * Carousel
 */
.home-carousel {
	height: 100%;
	background-color: #333;
}

	.home-carousel__item {
	height: 100%;
	}

		.home-carousel__img {
			height: 100%;
			display: block;
			min-height: 320px;
			background-size: cover;
			background-position: center;
			box-shadow: 0 -20px 20px 0px $tCBgBase inset;
		}

		.home-carousel--01 { background-image: url('../images/carousel/carousel_02.jpg');}

		.home-carousel__item .home-carousel__desc {
			right: 0;
			bottom: 4rem;
			background-color: rgba(0,0,0,.5);
			padding: 1rem;
			color: #fff;
			text-shadow: 0 -1px #333;
		}



/**
 * Socials
 */
.socials {
	text-align: center;
	position: relative;
	background-image: url('../images/carousel/carousel_02.jpg');
}

	.socials__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, .7);
	}

	.socials__body {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
	}	