/**
/* Main container module
/**/

$rkrFooterToken:       Footer !default;
$rkrFooterEntity:      module !default;

$rkrFooterTokenCopy:   copyright !default;


//
// Footer colors
//
$showFooterColors: false;

@if map-has-key ($rkrTheme, footerBg) {
    $showFooterColors: true;
}

@if $showFooterColors {

    #{rkrRule($rkrFooterEntity, $rkrFooterToken)} {
        color:            map-get($rkrTheme, footerText);
        background-color: map-get($rkrTheme, footerBg);

        h4 {
            border-bottom: 1px solid map-get($rkrTheme, headingText);
        }

        p.fa {
            display: block;
            margin-left:   2rem;
            margin-bottom: 1rem;
        }

        p.fa:before {
            width:      1.8rem;
            margin-left: -2rem;
            display: inline-block;
            text-align: center;
        }
    }

    $bemCopy: (
        block: $rkrFooterToken,
        element: $rkrFooterTokenCopy
    );

    #{rkrRuleBEM($rkrFooterEntity, $bemCopy)} {
      color: map-get($rkrTheme, footerCopyrightText);
    };
}
