//
// Border Radius tools
//

@mixin rkrBorderRadius ($_inBreakpoint) {
	$tokenBrdRad: $rkrBorderToken + capitalize($rkrBorderTokenRadius);
	
	@each $mod,$sz in $rkrBorderRadiusSizes {
		@each $type,$v in $rkrBorderRadiusModifiers {
		  $tokenModifier: rkrGetResponsiveToken($v + capitalize($mod), $_inBreakpoint);

			$bemRadTop: (
				block: $tokenBrdRad,
				modifier: $tokenModifier
			);

			#{rkrRuleBEM($rkrBorderEntity, $bemRadTop)} {
				border-top-left-radius: $sz;
				border-top-right-radius: $sz;
			}
		}
	}
}



@mixin rkrBorderRadiusResponsive () {
  @each $breakpoint,$val in $rkrRwdBreakpoints {
    /**
     * Border Radius utilities #{$breakpoint}
     */
    @include rkrMQ((zone: $breakpoint)) {
        @include rkrBorderRadius($breakpoint);
    }
  }	
}