//
// Box object configuration
//

$rkrHasBox:                   true      !default;
$rkrBoxEntity:                object    !default;
$rkrBoxBaseToken:             box       !default;

$rkrBoxGutter:                $rkrBaseSpacingUnit    !default;
$rkrBoxRwdGutter:             $rkrContainerRwdGutter !default;

//
// Define if we should use responsive inline objects
//
$rkrBoxIsResponsive:          $rkrIsResponsive !default;
