<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">

  <title>Rucker Container</title>
  
  <link rel="stylesheet" href="../../../themes/default/css/theme.css">
  <link rel="stylesheet" href="../css/styleguide.css">

</head>
<body>
 
  <div class="lContainer bgGray uVMg-hg">
    <h1>Container</h1>
    <p>His mentitum adversarium in. Erant euripidis sea id. Nullam vivendum lobortis in pro, eu noluisse liberavisse qui. Et has quod latine, cum graeci assentior cu. Ad sit iusto fabellas principes, natum porro omnium ex quo. Vix erant officiis maiestatis no, ius error iuvaret erroribus an, duo omnium quaestio ei. Pri ut epicurei prodesset. In autem movet inciderint qui. Graeco utroque vis no, iriure deleniti eu pro. Ex eum summo essent equidem, an sed nullam persecuti efficiendi.</p>

    <div align="center"> 
      <ul class="oInline_list uVMg-md">
        <li class="oInline l-1/1">1/1</li>
      </ul>

      <ul class="oInline_list uVMg-md">
        <li class="oInline l-1/2">1/2</li>
        <li class="oInline l-1/2">1/2</li>
      </ul>

      <ul class="oInline_list uVMg-md">
        <li class="oInline l-1/3">1/3</li>
        <li class="oInline l-1/3">1/3</li>
        <li class="oInline l-1/3">1/3</li>
      </ul>

      <ul class="oInline_list uVMg-md">
        <li class="oInline l-1/4">1/4</li>
        <li class="oInline l-1/4">1/4</li>
        <li class="oInline l-1/4">1/4</li>
        <li class="oInline l-1/4">1/4</li>
      </ul>

      <ul class="oInline_list uVMg-md">
        <li class="oInline l-1/5 l-1/2@xs">1/5</li>
        <li class="oInline l-1/5 l-1/2@xs">1/5</li>
        <li class="oInline l-1/5 l-1/1@xs">1/5</li>
        <li class="oInline l-1/5 l-1/2@xs">1/5</li>
        <li class="oInline l-1/5 l-1/2@xs">1/5</li>
      </ul>
    </div>

  </div>

  <div class="lContainer-fluid bgGray uVMg-hg">
    <h1>Fluid Container</h1>
    <p class="uHAlign-justify">His mentitum adversarium in. Erant euripidis sea id. Nullam vivendum lobortis in pro, eu noluisse liberavisse qui. Et has quod latine, cum graeci assentior cu. Ad sit iusto fabellas principes, natum porro omnium ex quo. Vix erant officiis maiestatis no, ius error iuvaret erroribus an, duo omnium quaestio ei. Pri ut epicurei prodesset. In autem movet inciderint qui. Graeco utroque vis no, iriure deleniti eu pro. Ex eum summo essent equidem, an sed nullam persecuti efficiendi.</p>

    <div align="center"> 
      <ul class="oInline_list uVMg-md">
        <li class="oInline l-1/1">1/1</li>
      </ul>

      <ul class="oInline_list uVMg-md">
        <li class="oInline l-1/2">1/2</li>
        <li class="oInline l-1/2">1/2</li>
      </ul>

      <ul class="oInline_list uVMg-md">
        <li class="oInline l-1/3">1/3</li>
        <li class="oInline l-1/3">1/3</li>
        <li class="oInline l-1/3">1/3</li>
      </ul>

      <ul class="oInline_list uVMg-md">
        <li class="oInline l-1/4">1/4</li>
        <li class="oInline l-1/4">1/4</li>
        <li class="oInline l-1/4">1/4</li>
        <li class="oInline l-1/4">1/4</li>
      </ul>

      <ul class="oInline_list uVMg-md">
        <li class="oInline l-1/5 l-1/2@xs">1/5</li>
        <li class="oInline l-1/5 l-1/2@xs">1/5</li>
        <li class="oInline l-1/5 l-1/1@xs">1/5</li>
        <li class="oInline l-1/5 l-1/2@xs">1/5</li>
        <li class="oInline l-1/5 l-1/2@xs">1/5</li>
      </ul>
    </div>

  </div>
  
</body>
</html>