//
// Pack Object configurations
//

// Pack namespace
$rkrPackNs: $rkrNamespace !default;

$rkrPackAttrType: object !default;
$rkrPackAttrName: pack !default;

$rkrMAttributesNaming: rkrFnRegisterAttribute(pack, $rkrPackAttrType, $rkrPackAttrName);


