//
// Pack Object configurations
//

// Pack namespace
$rkrNsPack: $rkrNamespace !default;

$rkrAttrTypePack: object !default;
$rkrAttrNamePack: pack !default;

$rkrMapAttributesNaming: fnRegisterAttribute(pack, $rkrAttrTypePack, $rkrAttrNamePack);


