/*------------------------------------*\
    #Pack Object
\*------------------------------------*/

%oPack {
  display: table;
  table-layout: fixed;
  width: 100%;
}
  %oPackItem {
    display: table-cell;
    vertical-align: middle;
  }

%oPackTop {
  %oPackItem {
    vertical-align: top;
  }
}

%oPackBottom {
  %oPackItem {
    vertical-align: bottom;
  }
}

#{fnRulePack(list)} {
  @extend %oPack;
}

#{fnRulePack(item)} {
  @extend %oPackItem;
}


#{fnRulePack(top, false)} {
  @extend %oPackTop;
}

#{fnRulePack(bottom, false)} {
  @extend %oPackBottom;
}

@include mxPackModifiers();
