/*------------------------------------*\
    #Pack Object
\*------------------------------------*/

//
// Define silent classes
//

%oPack {
  display: table;
  table-layout: fixed;
  width: 100%;
  list-style: none;
}
  %oPackItem {
    display: table-cell;
    vertical-align: middle;
  }

%oPackTop {
  %oPackItem {
    vertical-align: top;
  }
}

%oPackBottom {
  %oPackItem {
    vertical-align: bottom;
  }
}



//
// Define rules
//

#{rkrFnPackRule(list, false)} {
  @extend %oPack;

  @include rkrMxResponsive((from: tiny)) {
    #{rkrFnPackRule(xs--visible)} 
    { display: table-cell; }
  }
  @include rkrMxResponsive((from: small)) {
    #{rkrFnPackRule(sm--visible)}
    { display: table-cell; }
  }
  @include rkrMxResponsive((from: medium)) {
    #{rkrFnPackRule(md--visible)}
    { display: table-cell; }
  }
  @include rkrMxResponsive((from: large)) {
    #{rkrFnPackRule(lg--visible)}
    { display: table-cell; }
  }
  @include rkrMxResponsive((from: huge)) {
    #{rkrFnPackRule(hg--visible)}
    { display: table-cell; }
  }
}

#{rkrFnPackRule(item)} {
  @extend %oPackItem;
}





#{rkrFnPackRule(top, false)} {
  @extend %oPackTop;
}

#{rkrFnPackRule(bottom, false)} {
  @extend %oPackBottom;
}

@include rkrMxPackModifiers();
