/*------------------------------------*\
    #Pack Object
\*------------------------------------*/

//
// Define silent classes
//

%oPack {
  display: table;
  table-layout: fixed;
  width: 100%;
}
  %oPackItem {
    display: table-cell;
    vertical-align: middle;
  }

%oPackTop {
  %oPackItem {
    vertical-align: top;
  }
}

%oPackBottom {
  %oPackItem {
    vertical-align: bottom;
  }
}



//
// Define rules
//

#{rkrFnPackRule(list)} {
  @extend %oPack;
}

#{rkrFnPackRule(item)} {
  @extend %oPackItem;
}


#{rkrFnPackRule(top, false)} {
  @extend %oPackTop;
}

#{rkrFnPackRule(bottom, false)} {
  @extend %oPackBottom;
}

@include rkrMxPackModifiers();
