//
// Pack object funtions
//

//
// fnRulePack
// Generate Pack Object related rule
//
@function fnRulePack($_inAttr, $_inIsElem: true) {

  $response: fnAttributeRule(pack, null);

  @if $_inAttr != null {
    $prefix: '-';
    @if $_inIsElem {
      $prefix: '_';
    }

    $param: $rkrNsPack + $prefix + $_inAttr;
    $response: fnAttributeRule(pack, $param);

  }

  @return $response;

}


//
// mxMediaModifiers
// Generate media modifiers
//

@mixin mxPackModifiers() {

  $rkrPackMediaSpacing: fnModifiersMap(5px, 5px);

  @each $key,$val in $rkrPackMediaSpacing {

    /* Pack Object with '#{$key}' modifier */
    #{fnRulePack(map-get($rkrModifiersNaming, $key), false)} {
      border-spacing: $val;
    }
  }
}
