//
// Container tools
//





//
// Set auto to left and right margins
//
@mixin rkrAutoSideMargins () {
	margin-left: auto;
	margin-right: auto;
}





//
// Apply gutter spacing
//
@mixin rkrSideSpacing () {
  padding-left:  ($rkrBaseSpacingUnit / 2);
  padding-right: ($rkrBaseSpacingUnit / 2);
}