/*------------------------------------*\
    #Navigation Module
\*------------------------------------*/

/**
 *
  <nav data-m-nav="rkr--main" >

 		<ul data-m-nav="rkr__list">
			<li data-m-nav="rkr__item is-selected">
				<a href="#" data-m-nav="rkr__link">{Label}</a>
			</li>
 		</ul>

  </nav>

 *
 */

/**
 * Main navigation 
 */
 @include rkrMxModNavRule(main, false) {

	@include rkrMxModNavRule(list) {
		@extend %oInlineParent;
/*		position: fixed;
		top: 0;
		right: 1rem;
		z-index: map-get($rkrMZLayers, top-menu);
*/
		-webkit-transition: .4s ease-in-out; 
						transition: .4s ease-in-out;

		@include rkrMxResponsive((to: medium)) {
			bottom:0;
			height: 100%;
			right: -100%;
			width: 				 15rem;
			padding-top: 		7rem;
			padding-bottom: 1rem;
			overflow: auto;
			background-color: rgba(0,0,0, .8);
			z-index: map-get($rkrMZLayers, top-menu-xs);
		}		
	}

	@include rkrMxModNavRule(label) {
		font-family: 'Roboto', sans-serif;
		font-size: 1rem;
		text-transform: uppercase;
		color: #1C89C4;
		cursor: pointer;
		position: fixed;
		z-index: map-get($rkrMZLayers, top-menu);
		top: 0;
		right: 0;
		padding: 1rem;

		-webkit-backface-visibility: hidden;


		&:before {
			content: "\f0c9";
			font: normal normal normal 1rem FontAwesome;
			padding-right: .4rem;
			margin-top: -.2rem;
			display: inline-block;
			vertical-align: middle;
		}

		@include rkrMxResponsive((from: medium)) {
			display: none;
		}
	}



	//
	// Responsive active status
	//

	@include rkrMxResponsive((to: medium)) {
		input#{rkrFnModNavRule(toggle)}:checked + & > #{rkrFnModNavRule(list)} {
			right: 0;
		}

		input#{rkrFnModNavRule(toggle)}:checked + & > #{rkrFnModNavRule(label)} {
			color: $rkrModNavCFgMainHover;
		}
	}



	@include rkrMxModNavRule(item) {
		@extend %oInlineItem;

		font-size: $rkrModNavFontSize;
		font-weight: $rkrModNavFontWeight;
		font-family: $rkrModNavFontMain;

		@include rkrMxResponsive((to: medium)) {
			width: 100%;
			text-align: center;
		}
	}

	#{rkrFnModNavRule(link)} {
		display: block;
		line-height: 70px;
		position: relative;
		padding: 1.8rem 1rem 0;

		-webkit-transition: .5s ease;
						transition: .5s ease;

		color: $rkrModNavCFgMain;
		&:hover {
			color: $rkrModNavCFgMainHover;
		}

		&:before {
		  width: $rkrModNavLinkIconSize;
		  height: 1.2 * $rkrModNavLinkIconSize;
		  left: 50%;

		  position: absolute;
		  display: inline-block;

		  text-align: center;
		  font-family: "FontAwesome";
		  font-size: 1rem;
		  
/*			-webkit-transition: .5s ease;
							transition: .5s ease;
*/
		  -webkit-transform: translateX(-50%) translateY(-120%);
		  				transform: translateX(-50%) translateY(-120%); 
		}

/* animate
		&:hover {
			margin-top: -2.4 * $rkrModNavLinkIconSize;
		}

		&:hover:before {
		  -webkit-transform: translateX(-50%) translateY(120%);
		  				transform: translateX(-50%) translateY(120%);			
		}
*/	
		@include rkrMxResponsive((to: medium)) {
			font-size: 1rem;
			line-height: 3rem;
		}

	}
}

input#{rkrFnModNavRule(toggle)} { display: none; }





/**
 * Footer navigation 
 */
@include rkrMxModNavRule(footer, false) {
	list-style: none;

	@include rkrMxModNavRule(item, false) {
		display: block;
		padding: 0 0 .3rem 2rem;
	}

	@include rkrMxModNavRule(link, false) {

		&:before {
			font-family: "FontAwesome";
			display: inline-block;
			vertical-align: middle;
			margin-right: 1rem;
		}

	}
}