//
// Box Object configurations
//

// Box namespace
$rkNsBox: $rkNamespace !default;

$rkAttrType-box: object !default;
$rkAttrName-box: box !default;

$rkMapAttributesNaming: fnRegisterAttribute(box, $rkAttrType-box, $rkAttrName-box);


