//
// Box Object configurations
//

// Box namespace
$rkrBoxNs: $rkrNamespace !default;

$rkrBoxAttrType: object !default;
$rkrBoxAttrName: box !default;

$rkrMAttributesNaming: rkrFnRegisterAttribute(box, $rkrBoxAttrType, $rkrBoxAttrName);


