//
// Box Object configurations
//

// Box namespace
$rkrBoxNs: $rkrNamespace !default;

$rkrBoxAttrType: object !default;
$rkrBoxAttrName: box !default;

$rkrMapAttributesNaming: fnRegisterAttribute(box, $rkrBoxAttrType, $rkrBoxAttrName);


