//
// Box object funtions
//

//
// fnRuleBO
// Generate Media Object related rule
//
@function fnRuleBO($_inAttr, $_inIsElem: true) {

  $response: fnAttributeRule(box, null);

  @if $_inAttr != null {
    $prefix: '-';
    @if $_inIsElem {
      $prefix: '_';
    }

    $param: $rkNsBox + $prefix + $_inAttr;
    $response: fnAttributeRule(box, $param);

  }

  @return $response;

}


//
// mxMediaModifiers
// Generate media modifiers
//

@mixin mxBoxModifiers() {

  $rkBoxMediaSpacing: fnModifiersMap(5px, 5px, true);

  @each $key,$val in $rkBoxMediaSpacing {

    /* Box Object with '#{$key}' modifier */
    #{fnRuleBO(map-get($rkModifiersNaming, $key), false)} {
      padding: $val; 
    }
  }
}
