//
// Band Object configurations
//

// Band namespace
$rkrNsBand: $rkrNamespace !default;

$rkrAttrType-band: object !default;
$rkrAttrName-band: band !default;

$rkrMapAttributesNaming: fnRegisterAttribute(band, $rkrAttrType-band, $rkrAttrName-band);


