//
// Band Object configurations
//

// Band namespace
$rkrBandNs: $rkrNamespace !default;

$rkrBandAttrType: object !default;
$rkrBandAttrName: band !default;

$rkrMAttributesNaming: fnRegisterAttribute(band, $rkrBandAttrType, $rkrBandAttrName);


