//
// Band Object configurations
//

// Band namespace
$rkNsBand: $rkNamespace !default;

$rkAttrType-band: object !default;
$rkAttrName-band: band !default;

$rkMapAttributesNaming: fnRegisterAttribute(band, $rkAttrType-band, $rkAttrName-band);


