//
// Band object funtions
//

//
// rkrFnBandRule
// Generate Band Object related rule
//
@function rkrFnBandRule($_inAttr, $_inIsElem: true) {

  @return rkrFnEntityRule(band, $rkrBandNs, $_inAttr, $_inIsElem);

}



//
// rkrMxBandModifiers
// Generate band modifiers
//
@mixin rkrMxBandModifiers() {

  $mBandMediaSpacing: rkrFnMModifiers(5px, 5px, true);

  @each $key,$val in $mBandMediaSpacing {

    /* Box Object with '#{$key}' modifier */
    #{rkrFnBandRule(map-get($rkrMModifiersNaming, $key), false)} {
      padding-top: $val; 
      padding-bottom: $val;
    }
  }
}
