//
// Layout sizes configurations
//

$rkrHasSizes:             		true    !default;
$rkrSizesEntity:		      		layout 	!default;
$rkrSizesBaseToken:						'' 			!default;
$rkrSizesIsResponsive:				true 		!default;


// Groups of sizes for which to define units
// fe. for group 3 we define sizes for 1/3 and 2/3
$rkrSizesGroups: 							1, 2, 3, 4 !default;
