//
// Layouts Sizes Tools
//

//
// rkrMxSizesSilent
//
@mixin rkrMxSizesSilent() {
	
	$lDefined: ();

	@each $group in $rkrSizesLGroups {

		@for $i from 1 to $group {

			$selector: round($i / $group * 100);

			@if index($lDefined, $selector) == null {

				/* #{$selector} */
				%lSize-#{$selector} {
					width: $i / $group;
				}

				$lDefined: append($lDefined, $selector);

			}

		}

	}

}



//
// rkrMxSizesOutput
//
@mixin rkrMxSizesOutput() {
	
	@each $group in $rkrSizesLGroups {

		@for $i from 1 to $group {

			$selector: round($i / $group * 100);			
			[data-l-size="#{$rkrSizesNs}-#{$i}/#{$group}"] {
				@extend %lSize-#{$selector};
			}

		}

	}

}