//
// Button object funtions
//

//
// rkrFnButtonRule
// Generate Button Object related rule
//
@function rkrFnButtonRule($_inAttr, $_inIsElem: true) {

  @return rkrFnEntityRule(button, $rkrBandNs, $_inAttr, $_inIsElem);

}

@mixin rkrMxButtonRule($_inAttr: "", $_inIsElem: true) {
	#{rkrFnButtonRule($_inAttr, $_inIsElem)} {
		@content;
	}
}


//
// rkrMxBandModifiers
// Generate band modifiers
//
@mixin rkrMxButtonModifiers() {

  $mButtonMediaSpacing: rkrFnMModifiers(.5rem, .5rem, true);

  @each $key,$val in $mButtonMediaSpacing {

    /* Box Object with '#{$key}' modifier */
    #{rkrFnBandRule(map-get($rkrMModifiersNaming, $key), false)} {
      padding: $val; 
      font-size: $val;
    }
  }
}
